node_modules
npm-debug.log
.git
.gitignore
README.md
CHANGELOG.md
.eslintrc.json
.prettierrc
.github
.nyc_output
coverage
.vscode
.idea
test/
src/
*.test.ts
*.spec.ts
tsconfig.json
typedoc.json
vitest.config.ts
.dccache
*.md
!LICENSE
!README.md
!CHANGELOG.md
